
<p class="card-text">
    {% for sample in sample.ffas.all %}
        {% if sample.value %}
            <div>
                FFA({{ sample.date_pub }}) = {{ sample.value }}
            </div>
        {% elif sample.date_time_result %}
            <div> 
                FFA({{ sample.date_pub }}) = waiting for {{ sample.date_time_result }}
            </div>
        {% elif sample.date_pub %}
            <div> 
                FFA({{ sample.date_pub }}) = analysis in progress
            </div>
        {% endif %}        
    {% endfor %}

    {% for sample in sample.proteins.all %}
        {% if sample.value %}
            <div>
                Protein({{ sample.date_pub }}) = {{ sample.value }}
            </div>
        {% elif sample.date_time_result %}
            <div> 
                Protein({{ sample.date_pub }}) = waiting for {{ sample.date_time_result }}
            </div>
        {% elif sample.date_pub %}
            <div> 
                Protein({{ sample.date_pub }}) = analysis in progress
            </div>
        {% endif %}        
    {% endfor %}

    {% for sample in sample.fats.all %}
        {% if sample.value %}
            <div>
                Fat({{ sample.date_pub }}) = {{ sample.value }}
            </div>
        {% elif sample.date_time_result %}
            <div> 
                Fat({{ sample.date_pub }}) = waiting for {{ sample.date_time_result }}
            </div>
        {% elif sample.date_pub %}
            <div> 
                Fat({{ sample.date_pub }}) = analysis in progress
            </div>
        {% endif %}
    {% endfor %}

    {% for sample in sample.ashs.all %}
        {% if sample.value %}
            <div>
                Ash({{ sample.date_pub }}) = {{ sample.value }}
            </div>
        {% elif sample.date_time_result %}
            <div> 
               Ash({{ sample.date_pub }}) = waiting for {{ sample.date_time_result }}
            </div>
        {% elif sample.date_pub %}
            <div> 
                Ash({{ sample.date_pub }}) = analysis in progress
            </div>
        {% endif %}
    {% endfor %}

    {% for sample in sample.moistures.all %}
        {% if sample.value %}
            <div>
                Moisture({{ sample.date_pub }}) = {{ sample.value }}
            </div>
        {% elif sample.date_time_result %}
            <div> 
                Moisture({{ sample.date_pub }}) = waiting for {{ sample.date_time_result }}
            </div>
        {% elif sample.date_pub %}
            <div> 
               Moisture({{ sample.date_pub }}) = analysis in progress
            </div>
        {% endif %}
    {% endfor %}

    {% for sample in sample.aoks.all %}
        {% if sample.value %}
            <div>
                Aoks({{ sample.date_pub }}) = {{ sample.value }}
            </div>
        {% elif sample.date_time_result %}
            <div> 
                Aoks({{ sample.date_pub }}) = waiting for {{ sample.date_time_result }}
            </div>
        {% elif sample.date_pub %}
            <div> 
                Aoks({{ sample.date_pub }}) = analysis in progress
            </div>
        {% endif %}
    {% endfor %}
</p>