
<p class="card-text">
    {% for sample in sample.ffas.all %}
        {% if sample.value %}
            <div>
                FFA({{ sample.date_pub }}) = {{ sample.value }}
        {% elif sample.date_pub %}
                FFA({{ sample.date_pub }}) = analysis in progress
            </div>
        {% endif %}        
    {% endfor %}

    {% for sample in sample.proteins.all %}
        {% if sample.value %}
            <div>
                Protein({{ sample.date_pub }}) = {{ sample.value }}
        {% elif sample.date_pub %}
                Protein({{ sample.date_pub }}) = analysis in progress
            </div>
        {% endif %}        
    {% endfor %}

    {% for sample in sample.fats.all %}
        {% if sample.value %}
            <div>
                Fat({{ sample.date_pub }}) = {{ sample.value }}
        {% elif sample.date_pub %}
                Fat({{ sample.date_pub }}) = analysis in progress
            </div>
        {% endif %}
    {% endfor %}

    {% for sample in sample.ashs.all %}
        {% if sample.value %}
            <div>
                Ash({{ sample.date_pub }}) = {{ sample.value }}
        {% elif sample.date_pub %}
                Ash({{ sample.date_pub }}) = analysis in progress
            </div>
        {% endif %}
    {% endfor %}

    {% for sample in sample.moistures.all %}
        {% if sample.value %}
            <div>
                Moisture({{ sample.date_pub }}) = {{ sample.value }}
        {% elif sample.date_pub %}
               Moisture({{ sample.date_pub }}) = analysis in progress
            </div>
        {% endif %}
    {% endfor %}

    {% for sample in sample.aoks.all %}
        {% if sample.bha and sample.bht %}
              
                    
                        <p>Aoks({{ sample.date_pub }}):bha={{ sample.bha }}; bht={{ sample.bht }}; sum={{ sample.value }}</p>
                        {% elif sample.bha %}
                            <p>Aoks({{ sample.date_pub }}) bha={{ sample.bha }}</p>
                        {% elif sample.bht %}
                            <p>Aoks({{ sample.date_pub }}) bht={{ sample.bht }}</p>
                        {% elif sample.date_pub%}
                            <p>Aoks({{ sample.date_pub }}) = analysis in progress</p>
                  
               
        {% endif %}
    {% endfor %}

    {% for sample in sample.mmps.all %}
        {% if sample.value %}
            <div>
                ММП({{ sample.date_pub }}) = {{ sample.value }}
            </div>
        {% endif %}
    {% endfor %}
</p>