<div>
    Образец: {{ sample.sample }}
</div>
<div>
    Дата производства: {{ sample.date_production }}, партия: {{sample.date_production|date:'W'}}/{{sample.isoweekday}}/{{sample.work_shift|default_if_none:""}}
</div>
<div>
    {{ sample.company }}
</div>
<div>
    {{ sample.material_type }} - {{ sample.product }}
</div>

<div>
    {% for category in sample.category.all %}
       <a href="{{ category.get_absolute_url }}" class="text-{{ sample.color.btn|default:'primary' }}">{{ category.name }}</a>
    {% endfor %}
</div>

<div>
    
    {% if sample.bb_from and sample.bb_to  %}
        Б.Б: {{ sample.bb_from|default_if_none:"" }} - {{ sample.bb_to|default_if_none:"" }}
    {% elif sample.bb_from %}
        Б.Б: {{ sample.bb_from|default_if_none:"" }}
    {% elif sample.bb_to  %}
        Б.Б: {{ sample.bb_to|default_if_none:"" }}
    {% endif %}

</div>
<div>
    {% if sample.pallet_from and sample.pallet_to  %}
        паллеты: {{ sample.pallet_from|default_if_none:"" }} - {{ sample.pallet_to|default_if_none:"" }}
    {% elif sample.pallet_from %}
        паллеты: {{ sample.pallet_from|default_if_none:"" }} 
    {% elif sample.pallet_to %}
        паллеты: {{ sample.pallet_to|default_if_none:"" }}
    {% endif %}
</div>

<div>
    {% if sample.description %}
        {{ sample.description }}
    {% endif %}
</div>

<div>
    Дата регистрации: {{ sample.date_registration }}
</div>