<div>
    Образец: {{ sample.sample }}
</div>
<div>
    Дата производства: {{ sample.date_production }}, партия: {{ sample.date_production|date:'W/w' }}
</div>
<div>
    {{ sample.company }}
</div>
<div>
    {{ sample.material_type }} - {{ sample.product }}
</div>

<div>
    {% for category in sample.category.all %}
       <a href="{{ category.get_absolute_url }}" class="text-{{ sample.color.btn|default:'primary' }}">{{ category.name }}</a>
    {% endfor %}
</div>

<div>
    {% if sample.bb_from or sample.bb_to  %}
        Б.Б: {{ sample.bb_from }} - {{ sample.bb_to|default_if_none:"" }}
    {% endif %}
</div>
<div>
    {% if sample.pallet_from or sample.pallet_to  %}
        паллеты: {{ sample.pallet_from|default_if_none:"" }} - {{ sample.pallet_to|default_if_none:"" }}
    {% endif %}
</div>

<div>
    {% if sample.description %}
        {{ sample.description }}
    {% endif %}
</div>

<div>
    Дата регистрации: {{ sample.date_registration }}
</div>